{% extends 'base.html' %}
{% block content %}

<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
        <nav id="navbar" class="navbar navbar-expand-lg ">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span> <i class="fas fa-align-justify"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                  
                        <li><a class="getstarted2 scrollto cnav2" href="/"> Inicio </a></li>

                        <li><a class="nav-link scrollto cnav2 " href="/venta/"> En
                                Venta</a></li>
                        <li><a class="nav-link scrollto cnav2" href="/arriendo/"> En
                                Arriendo</a></li>
                        <li><a class="nav-link   scrollto cnav2" href="/nosotros/"> Sobre
                                Nosotros</a></li>
                        <li><a class="nav-link   scrollto cnav2" href="/servicios/">
                                En Servicios</a></li>

                        <li><a class="nav-link scrollto cnav2" href="/contacto/">
                                Contacto</a></li>
             
                </ul>
            </div>
            <i class="bi bi-list mobile-nav-toggle"></i>

        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<div class="topmarginInicio_xp"></div>

<div class="container-fluid">
    <div class="content-img">

        <div class="row padding-title my-3">
            <div class="row my-2">
                <h1 style="font-size: 35px; text-align : justify;">Presentacion de la Empresa</h1>
            </div>
            <div class="row content-p">
                <p>
                    Es una empresa de servicios profesionales dedicada al corretaje de propiedades, siendo la continuadora natural de
                    las
                    actividades que iniciara en forma individual
                </p>
            </div>
        </div>


        <div class="row">
            <div class="row">
                <div class="col-12 col-xl-6 container-line-principal">
                    <h2>VISION</h2>
                    <div class="linea"></div>
                    <p>Posicionarse a nivel nacional como la mejor empresa en el rubro de corretaje de propiedades. </p>
                </div>

                <div class="col-0 col-xl-6"> </div>

            </div>

            <div class="row">
                <div class="col-0 col-xl-6"> </div>
                <div class="col-12 col-xl-6 container-line-principal-derecha">
                    
                        <h2>MISION</h2>
                        <div class="linea"></div>
                        <p>
                            satisfacer los requerimientos de compras, ventas y arriendo de bienes inmuebles a nuestros clientes brindándoles un
                            servicio integral de calidad.
                        </p>
                     
                </div>
            </div>
        </div>
        
    </div>

</div>

<div class="topmarginInicio"></div>

<div class="background-desing">
        <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 mx-auto my-2">
                    <div class="container-line shadow">
                        <div class="title-below">
                            <h3>Comunidad</h3>
                            <div class="linea"></div>
                        </div>
                        <div class="abstract">
                            <p>
                                Combining our business and philanthropic expertise to cultivate thriving communities.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 mx-auto my-2">
                    <div class="container-line shadow">
                        <div class="title-below">
                            <h3>Comunidad</h3>
                            <div class="linea"></div>
                        </div>
                        <div class="abstract">
                            <p>
                                Combining our business and philanthropic expertise to cultivate thriving communities.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-12 col-sm-12 col-12 mx-auto my-2">
                    <div class="container-line shadow">
                        <div class="title-below">
                            <h3>Comunidad</h3>
                            <div class="linea"></div>
                        </div>
                        <div class="abstract">
                            <p>
                                Combining our business and philanthropic expertise to cultivate thriving communities.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
</div>



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div id="fondo"></div>
            <div class="carrusel-edit-img-servicios">
            </div>
            <div class="carousel-caption d-none d-md-block desing-message">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
            </div>
        </div>

    </div>
</div>


<div class="menostop_xp"></div>
{% endblock content %}